@model dynamic

@{
    Layout = null;
    var JsonData = ViewBag.JsonData;
    /*List<TestVnResource.Models.KhoaHoc> ListKhoaHoc = ViewBag.ListKhoaHoc;*/
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/wwwroot/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.4.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" language="javascript"></script>
    <title>Home</title>
    <style type="text/css">
        body {
            font-family: "Times New Roman", Times, serif;
            font-size: 15px;
            margin-bottom: 60px;
            padding: 10px;
        }

        .col-sm-8, .col-sm-4 {
            border: 3px solid;
            height: 500px;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-sm-8">
            <h1 id="titleKH" style="font-weight: bold;">Khoa Hoc: </h1>
            <ol type="1" id="output">
                @foreach (TestVnResource.Models.MonHoc item in Model.MonHoc)
                {
                    <li>@item.TenMonHoc</li>
                }
            </ol>
        </div>
        <div class="col-sm-4">
            <h1 style="font-weight: bold;">Khoa Hoc: </h1>
            @foreach (TestVnResource.Models.KhoaHoc item in Model.KhoaHoc)
            {
                <button class="khoahoc" id="@item.ID" onclick="getData(this.id, '@item.TenKhoaHoc')">@item.TenKhoaHoc</button>
            }
        </div>
    </div>
    <script type="text/javascript">
        function getData(id, name) {
            document.getElementById('titleKH').innerText = 'Khoa Hoc: ' + name;
        }

        $(document).ready(() => {
            $('.khoahoc').click(function (e) {
                var parameter = { "id": this.id };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ShowData", "Index")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(parameter),
                    dataType: "json",
                    success: function (response) {
                        let res = '';
                        for (i of JSON.parse(response)) {
                            res = res + '<li>' + i + '</li>';
                        }
                        document.getElementById('output').innerHTML = res;
                    },
                    error: function (req, status, error) {
                        alert("Error try again");
                    }
                });
                return false;
            });
        })
    </script>
</body>
</html>
